/* styles.css */

body {
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

header {
    background-color: beige;
    color: black;
    padding: 20px;
    text-align: center;
  }

footer {
    background-color: lightgrey;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px; 
    padding: 10px;
    margin-top: auto;
    display: flex;
  }

footer img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

footer a {
    text-decoration: none; 
    color: black;         
    display: flex;        
    align-items: center;   
}

footer a:hover {
    color: #0077b6; 
}

/* Modal Styles */
#project-modal, #todo-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 20px;
}

#project-modal form, #todo-modal form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 100%;
}